# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- API'S
- MODELS
- GITHUB
- RSTUDIO
- PYTHON

Some of the popular languages that Data Scientists use are:

1. Pyhton
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas
4. TensorFlow
5. Keras
6. PyTorch

|Data Science Tools |
|-------------------|
|R Studio           |
|Jupyter Notebooks  |
|Tableau Software   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
x=5
y=4
result=x+y
print(result)
result2=x-y
print(result2)

9
1

In [3]:
x=2
y=9.2
result=x*y
print(result)

18.4

In [4]:
x=123315
y=23532
print(x/y)

5.240311065782764

In [10]:
# This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=60
print(minutes/hours)

3.3333333333333335

## Author
Yusuf Emre YÄ±lmaz